.container {
    border: green solid 2px;

    display: grid;
    grid-template-columns: 100px 200px auto;
    grid-template-rows: auto 100px 200px;
}

.item {
    border: red solid 1px;
}

/* .item:nth-child(2) {
    height: 40px;
}
.item:nth-child(1) {
    height: 20px;
} */